$X_LARGE_SIZE: 20px;
$LARGE_SIZE: 16px;
$NORMAL_SIZE: 14px;
$SMALL_SIZE: 12px;

$TEXT_GREY_COLOR: #939393;
$TEXT_BLACK_COLOR: #2f2f2f;
$BORDER_GREY_COLOR: #e6e6e6;
$BACKGROUND_GREY_COLOR: #ececec;


$THEME_COLOR: #1890ff;
