@import '../../styles/variable.scss';


.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .appbar {
    background-color: $BACKGROUND_GREY_COLOR;
    padding: 5px 12px;
    border-bottom: 1px solid $BORDER_GREY_COLOR;
    a {
      color: $TEXT_BLACK_COLOR;
    }
    .send {
      font-size: $LARGE_SIZE;
      color: $THEME_COLOR;
    }
  }
  .content {
    flex: 1;
    .textarea {
      height: 100%;
      font-size: $LARGE_SIZE;
      padding: 18px 14px;
      resize: none;
    }
  }
}